
<h1>Add a Trip</h1>


<section id = "_form_section">
  <%= form_for @trips do |f| %>



    <tr>
      <th>Date Created</th>
      <td><%= f.datetime_select(:created_at, :order => [:month, :day, :year]) %></td>
    </tr>


      <tr>
          <th>Driver</th>
          <td><%= f.select(:driver, Driver.all.map {|p| [p.name]} ) %></td>
        </tr>







        <!-- #HASH
        f.select (:visible, {"Visible"=> 1, "Hidden" => 2})

        #Array of arrays
        f.select (:trip_id, Trip.all.map {|p| [p.rating]}) -->







    <div id = "_form_section_submit">
      <%= f.submit value: "SAVE"%>
    </div>

  <% end %>
</section>
