<h1>TRIPS</h1>

<ul>
    <% @trips.each do |trip| %>
      <li> Driver: <%= link_to trip.driver_id, driver_path(trip.driver_id) %> Rider: <%= link_to trip.rider, rider_path(trip.rider_id) %> Rating: <%= trip.rating %></li>
    <% end %>
</ul>
