<h1>Trips List</h1>

<ul>
  <% @trips.each do |trip| %>
    <li><%= link_to trip.trip_id, trip_path(trip.id) %></li>
  <% end %>
</ul>


<%= link_to "All Passengers", passengers_path %>
<%= link_to "All Drivers", drivers_path %>
<%= link_to "Return to homepage", welcome_path %>
