<H2> New Trip </h2>
  <% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
    <li>
      <strong><%= column.capitalize %></strong> <%= message %>
    </li>
    <% end %>
  </ul>
  <% end %>
  
<%= render partial: "form", locals: { submit_text: "Create" }%>
