<h1> <%= @trip.rider.name %>'s Trip</h1>



<table class="listing" summary="Riders Trip List">

  <tr class="header">
    <th>Driver Name</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Show</th>
  </tr>


  <tr>


    <td><%= @trip.driver.name %></td>
    <td><%= @trip[:date] %></td>
    <td><%= @trip[:rating] %></td>



  </tr>

</table>
