<h1><%= @trip[:id] %></h1>
<p> Date: <%@trip[:date] %>
    Rating: <%@trip[:rating] %>
    Driver: <%@driver[:id] %>
    Passenger: <%@driver[:id] %></p>
<%= link_to "Back to Trip List", trip_path %>
