<nav>
  <h3>Menu</h3>
  <%= link_to "Drivers List", drivers_path %>
  <%= link_to "Passengers List", passengers_path %>
  <%= link_to "Add a New Passenger", new_passenger_path %>
  <%= link_to "Add a New Driver", new_driver_path %>
</nav>
