<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Droid+Sans|Oswald" rel="stylesheet">

<section>
<%= image_tag "https://lh4.googleusercontent.com/MJrO2WODmAuQeJxqJwBBizyKcR-mzYLDKF0QSnTeBzO-Aqh0HXRXRHYMC-cIfLHSPy6p6I96nbZL0uY=w2140-h1372-rw", alt: "rider", id: "rider" %>
<p id = "welcome"> Bringing riders and drivers together since 1964</p>
<%= image_tag "https://lh3.googleusercontent.com/cp31zjQIQ7AJQONAuZcMtCVarFLSF-zwhQIE36PWsFJKTR-P4xBANlDmw-yT3fiJz5_VVvsNQUbt7w4=w2140-h1372-rw", alt: "driver", id: "driver"%>
</section>
