<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<header>
  <h1>Welcome to Andrea and Maria's Rideshare Circus</h1>

  <%= link_to "All Trips", trips_path %>
  <%= link_to "All Drivers", drivers_path %>
  <%= link_to "All Passengers", passengers_path %>
</header>
