<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Droid+Sans|Oswald" rel="stylesheet">

<section id = "main">
<img src="https://raw.githubusercontent.com/natalia-ku/rideshare-rails/master/app/assets/images/riders.jpg", alt= "rider", id= "rider">
<p id = "welcome"> Bringing riders and drivers together since 1964</p>
<img src="https://raw.githubusercontent.com/natalia-ku/rideshare-rails/master/app/assets/images/hotrod.jpg", alt= "driver", id= "driver">
</section>
