<h1>Rideshare Rails</h1>
<nav class = 'navigation'>
  <ul>
    <li>Passenger
      <ul class = 'menu'>
        <li>Create New Passenger</li>
        <li>List of Passengers</li>
      </ul>
    </li>
    <li>Driver
      <ul class = 'menu'>
        <li>Create New Driver</li>
        <li>List of Driver</li>
      </ul>
    </li>

  </ul>

</nav>
