<h1>All Passengers!</h1>

<table>
  <tr>
    <th>Passenger ID</th>
    <th>Name</th>
    <th>Phone</th>
  </tr>
  <% @passengers.each do |passenger| %>
  <tr>
    <td><%= passenger.passenger_id %></td>
    <td><%= passenger.name %></td>
    <td><%= passenger.phone_num %></td>
  </tr>
  <% end %>
</table>
