<h1>Passengers</h1>
<section id="passengers-list">
  <% @passengers.each do |passenger| %>
    <ul>
      <li>
        <%= link_to passenger.name, passenger_path(passenger.id) %>
      </li>
    </ul>
  <% end %>
  <% if @passengers.size == 0 %>
    <p>
      No passengers found.
    </p>
  <% end %>
</section>
