<H2> New Passenger </h2>
  <% if @passenger.errors.any? %>
  <ul class="errors">
    <% @passenger.errors.each do |column, message| %>
    <li>
 <%= message %>
    </li>
    <% end %>
  </ul>
  <% end %>

<%= render partial: "form", locals: { submit_text: "Create" } %>
