<% content_for :passengers do %>
     <section class="details">
          <h1>Passenger</h1>
          <p>Passenger Name: <%= @passenger.name %></p>
          <p>Phone Number: <%= @passenger.phone %></p>
          <p>
            <%= link_to "Edit " + @passenger.name, edit_passenger_path %> |
            <%=
              link_to "Delete " + @passenger.name, passenger_path,
              data: { confirm: "Are you sure you want to delete this passenger?" },
              method: :delete
            %>
          </p>
     </section>
<% end %>
