<% content_for :passengers do %>
     <ul class="details">
          <li><h1>Passenger</h1></li>
          <li><p>Passenger Name: <%= @passenger.name %></p></li>
          <li><p>Phone Number: <%= @passenger.phone %> </p> </li>
     </ul>
<% end %>
