<h1>The passenger you selected!</h1>

<%= @result_passenger.name %>

<%= @result_passenger.phone_num %>


 <p>list of trips, grand total, edit/delete button, create button that links to trip#
create (don't allow user to do this if passenger hasn't rated all trips)</p>
