<% content_for :passengers do %>
     <section class="details">
          <h1>Passenger</h1>
          <p>Passenger Name: <%= @passenger.name %></p>
          <p>Phone Number: <%= @passenger.phone %></p>
     </section>
<% end %>
