<div class="main">
  <h1>Drivers</h1>
<p><%= link_to "See Complete List", drivers_path %></p>
</div>

<div class="main">
  <h1>Passengers</h1>
  <p><%= link_to "See Complete List", passengers_path %></p>
</div>
