<h2> Who Rides With Us? (Also, You.) </h2>

<ul>
  <% @riders.each do |rider| %>
  <li>
    <%= link_to rider.name, rider_path(rider.id) %>
    <%= link_to "Edit Rider", edit_rider_path(rider.id)%>
    <%= button_to "Delete", rider_path(rider.id), method: :delete, data: { confirm: "Are you sure you want to delete #{rider.name}?"} %>
  </li>
  <% end %>
</ul>
