<h1>RIDERS</h1>

<table>
  <tr>
    <th> Name </th>
    <th> Phone </th>
  </tr>
  <% @riders.each do |rider| %>
  <tr>
    <td> <%= link_to rider.name, rider_path(rider.id) %> </td>
    <td> <%= rider.phone_num %> </td>
  </tr>
  <% end %>
</table>
