<h2>Riders</h2>

<table>
  <tr>
    <th>Rider name</th>
    <th>Phone number</th>
  </tr>
  <% @riders.each do |rider| %>
    <tr>
      <td><%= link_to rider.name, rider_path(rider.id), method: :get %></td>
      <td><%= rider.phone_num %></td>
    </tr>
  <% end %>
</table>
