
<%= form_for @trip, :url => { :action => "create" } do |form| %>
  <%= render partial: 'form', local: { f: form } %>



<section id = "new_section">
  <%= link_to "To list of riders", riders_path, class: "button_link"%>
</section>
