<h2>Name: <%= @rider.name %></h2>
<p>Phone: <%= @rider.phone %></p>
<p>Total Charged: $<%= (@rider.total_cost(@rider.id)/100).to_f.round(2)%></p>
<!-- NOT CENTS -->

<h2>Trips</h2>
<ul>
  <% @rider.trips.each do |trip| %>
    <li><p> Date Taken: <%= link_to trip.date, trip_path %></p>

  <% end %>
</ul>
