<h1>Rider Info</h1>

<ul>
  <li>
    Name: <%= @rider.name %>
  </li>
  <li>
    Phone: <%= @rider.phone_num %>
  </li>
</ul>

<%= link_to "Delete", rider_path(@rider.id),
  data: { confirm: "Are you sure you want to delete this rider?" },
  method: :delete %>
