<h1>All Drivers</h1>

<% @avg_rating = Trip.where(driver_id: @result_driver.id) %>

<table>
  <tr>
    <th>Name</th>
    <th>VIN</th>
    <th>Average Rating</th>
  </tr>
  <% @drivers.each do |driver| %>
  <tr>
    <td><%= link_to driver.name, driver_path(driver.id) %></td>
    <td><%= driver.vin %></td>
    <td><%= driver %></td>
  </tr>
  <% end %>
</table>
