<h1>RideShare Drivers</h1>

<%= button_to "Add a new driver", new_driver_path, method: :get %>

<ol>
  <% @drivers.each do |driver| %>
    <li> <%= link_to driver.name, driver_path(driver)%> </li>
  <% end%>
</ol>
