<h2>Drivers</h2>

<table>
  <tr>
    <th> Name </th>
    <th> VIN </th>
  </tr>
    <% @drivers.each do |driver| %>
    <tr>
      <td> <%= link_to driver.name, driver_path(driver.id)%> </td>
      <td> <%= driver.vin %> </td>
    </tr>
    <% end %>
</table>
