<% content_for :drivers do %>
<h1>Drivers</h1>

<ul>
     <% @drivers.each do |driver| %>
          <li> <%= driver.name %> </li>
     <% end %>
</ul>
<%end%>

<% content_for :passengers do %>
<h1>Passengers</h1>
<%end%>
