<h1>Drivers</h1>

<table>
  <tr>
    <th>Driver ID</th>
    <th>Name</th>
    <th>VIN</th>
  </tr>
  <% @drivers.each do |driver| %>
    <tr>
      <td><%= link_to driver.id, driver_path(driver.id), method: :get %></td>
      <td><%= driver.name %></td>
      <td><%= driver.vin %></td>
    </tr>
  <% end %>
</table>
