<% content_for :drivers do %>
     <section class="yield">
          <h1 class="title">Drivers</h1>
          <ul class="list">
               <% @drivers.each do |driver| %>
                    <li> <%= link_to driver.name, driver_path(driver.id) %> </li>
               <% end %>
          </ul>
     </section>
<%end%>

<% content_for :trips do %>
     <section class="yield">
          <h1 class="title">Trips</h1>
          <ul class="list">
          </ul>
     </section>
<%end%>

<% content_for :passengers do %>
     <section class="yield">
          <h1 class="title">Passengers</h1>
          <ul class="list">
          </ul>
     </section>
<%end%>
