<% content_for :drivers do %>
     <section class="yield">
          <h1 class="title">Drivers</h1>
          <ul class="list">
               <% @drivers.each do |driver| %>
                    <li> <%= link_to driver.name, driver_path(driver.id) %> </li>
               <% end %>
          </ul>
     </section>
<%end%>
