<section id="form">
  <h1>Create a New Account</h1>

  <h2>We're so glad you've decided to join the team! Fill out the form below to become our newest RideShare Driver!</h2>

  <%= render partial: "form", locals: { form_method: :post } %>
</section>
