<% content_for :drivers do %>
     <ul class="details"
          <li> <h1>Driver</h1></li>
          <li> <p> Driver Name: <%= @driver.name %> </p> </li>
          <li> <p> Driver VIN: <%= @driver.vin %> </p> </li>
          <li> <p> Driver Status: <%= @driver.status %> </p> </li>
     </ul>
<% end %>
