<h1>Driver Details</h1>

<ul>
  <li>Name: <%= @result_driver.name %></li>
  <li>VIN: <%= @result_driver.vin %></li>
  <li>Available:
    <% if @result_driver.available %>
        YES
    <% else %>
        NO
    <% end %>
  </li>
</ul>
