<% content_for :drivers do %>
     <section class="yield">
          <h1 class="title"> Driver </h1>
          <ul class="list">
               <li> <span> Driver Name: </span> <%= @driver.name %> </li>
               <li> <span> Driver VIN: </span> <%= @driver.vin %> </li>
               <li> <span> Driver Status: </span> <%= @driver.status ? "Available" : "Not Available"%> </li>
          </ul>
     </section>
<% end %>
