<link href="https://fonts.googleapis.com/css?family=Dosis:700" rel="stylesheet">
<h1><%= @driver[:name] %></h1>
<p> Vin: <%=@driver[:vin] %></p>
  <p><%= link_to "Back to Driver List", drivers_path %></p>
