<section id = "show_section">
  <h1>
    Meet <%= @driver.name%>!
  </h1>
  <%#= image_tag(@animal.image_pathway, alt: "Image not available", id: "show_image")%>
  <p>
    <%= @driver.name%>, <%= @driver.vin%>
  </p>
  <p id = "show_about_text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <%#= link_to image_tag("left1.png", alt: "Back button", class: "button_image"), animals_path%>
  <%#= link_to image_tag("edit1.png", alt: "Edit button", class: "button_image"), edit_animal_path%>
  <%#= link_to image_tag("delete_blue1.png", alt: "Delete button", class: "button_image"), animal_path,
  data: {method: :delete, confirm: "Are you sure you want to remove #{@animal.name} from the list?"}%>
</section>
