<h3><%= @selected_driver.name %></h3>
<h4>VIN: <%= @selected_driver.vin %></h4>
<h4>Average rating: <%= @selected_driver.average_rating %></h4>
<h4>Total number of trips: <%= @selected_driver.trips.length %></h4>
