<h1>The driver you selected!</h1>

<%= @result_driver.name %>

<%= @result_driver.vin %>

 <p>average rating, all trips (clicking trip brings up trip details), total earnings
 (each trip -15%), edit/delete button</p>
