@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  text-align: center;
  background: url('main.jpeg');
  background-size: cover;
}

h1 {
  margin-top: 150px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  font-size: 100px;
}

li {
  list-style-type: none;
}
