* {
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.navigation > ul {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: lighter;
}

.navigation > ul > li {
  list-style-type: none;
  display: inline-block;
  padding: 5px 25px;
  position:relative;
}

.navigation > ul > li:hover {

}

ul.menu {
    position: absolute;
    background-color: black;
    list-style-type: none;
    width: 125px;
    padding-left: 5px;
    margin-left: -5px;
}
