<!-- <img src="/assets/images/car-icon.png"  /> -->
<section class = "index1" >
  <a href="/drivers"><%= image_tag("car-icon.png") %></a>
<section>
<section class = "index2" >
<a href="/users"><%= image_tag("user-icon.png") %></a>

</section>
