<nav class="side">
    <div class="side__inner">
        <!-- <div class="top"><%= link_to "Ada Find-a-Ride", root_path %></div> -->



        <div class="bottom">

          <%= link_to "Ada Find-a-Ride", root_path %>            <%= link_to "Drivers", 'drivers#index'%>
            <%= link_to "Riders", 'riders#index'%>
        </div>
    </div>
</nav>
