


<header class="nav_container">

                <nav class="page_link">
                    <%= link_to "Home", root_path %>

                </nav>

                <nav class="page_link">
                    <%= link_to "Drivers", 'drivers#index'%>

                </nav>

                <nav class="page_link">
                    <%= link_to "Riders", 'riders#index'%>

                </nav>




</header>
