<!DOCTYPE html>
<html>
  <head>
    <title>RideshareRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h2> RideShare </h2>
      <nav>
        <ul>
          <li>Passengers
            <ul>
              <li><a href="">Passenger List</a></li>
              <li><a href="">Passenger +</a></li>
            </ul>
          </li>
          <li>Drivers
            <ul>
              <li><a href="">Driver List</a></li>
              <li><a href="">Driver +</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
    <main><%= yield %></main>
  </body>
</html>
